.titlecard>h4{
    text-align: left;
    color: orange;
   padding: 20px 0px 0px 10px;
}

.titlecard p{
    margin: 0px;
    padding: 0px;
    opacity: .5;
    font-weight: 700;
    text-align: left;
    padding: 0px 0px 0px 10px;
}